* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(28, 25, 35);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img/bg.svg);
    background-size: 105%;
    background-position: center;
}

div.header {
    display: flex;
    width: 360px;
    height: 32px;
    font-size: 15px;
    padding: 2px;
    font-weight: bold;
    align-items: center;
    flex-direction: row;
    background-color: white;
    border: 2px solid black;
    justify-content: space-between;
}

div.header > div.title {
    flex: 1;
    height: 25px;
    width: 10px;
    margin: 0;
    background-image: url(./img/menu_title.svg);
    background-repeat: no-repeat;
    /* background-position: ; */
    cursor: pointer;
}

div.header > div.level {
    min-width: 12%;
    display: flex;
}

div.header > div.level > a {
    height: 15px;
    width: 15px;
    padding: 0;
    margin: 0;
    /* display: inline-block; */
    background-image: url(./img/dungeon_icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

div.header > div.points {
    min-width: 20%;
    display: flex;
}

div.header > div.points > a {
    height: 15px;
    width: 15px;
    padding: 0;
    margin: 2px;
    /* display: inline-block; */
    background-image: url(./img/coin_icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

#arena {
    border: 2px solid #000;
    background-color: #1f1f1f;
    width: 360px;
    height: 480px;
    /* position: absolute; */
    cursor: none;
}

div.events-info {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    color: antiquewhite;
    align-items: center;
    font-size: 30px;
    pointer-events: none;
    animation: zoom-in 3s;
}

@keyframes zoom-in {
    0% {
        transform: scale(0.5);
    }
    30% {
        opacity: 0.8;
    }
    80% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}