:root {
    --width: 360px;
    --height: 480px;
    --shot-area-h: 60px;
    --info-h:30px;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(31, 31, 31);
    /* box-sizing: border-box; */
}
.box {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
    position: absolute;
}

.box > .info {
    width: var(--width);
    height: var(--info-h);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info > .title {
    color: white;
}

.info > .level {
    font-size:16px;
    color: white;
}

.info > .points {
    font-size:16px;
    color: white;
}

.box > .arena {
    width: var(--width);
    height: var(--height);
    background-color: rgb(55, 55, 55);
    position: relative;
    /* overflow: hidden; */
    cursor: none;
    max-width: var(--width);
    max-height: var(--height);
    z-index: 1;
}

.box > .shot--area {
    width: 360px;
    /* height: var(--shot-area-h); */
    height: 80px;
    background-color: #f0ffff2b;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.shot--area > .shot--position {
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    background-image: url(https://gifdb.com/images/high/nerd-ginger-cat-typing-8308pf65yrgevcln.gif);
    background-size: 160%;
    background-position: center;
    background-position-x: 60%;
    border-radius: 20px;
    z-index: 1;
    box-shadow: 0px 0px 2px black;
    left: 160px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shot--position > .movement-bar {
    width: 100%;
    height: 5px;
    background-color: #64d92f;
    position: absolute;
    bottom: -7px;
}

.shot--area > .shop-btn {
    width: 30px;
    height: 30px;
    background-image: url(https://www.iconpacks.net/icons/2/free-store-icon-2017-thumb.png);
    background-size: cover;
    position: absolute;
    right: -35px;
    top: 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s;
}
.shot--area > .shop-btn:hover {
    transform: scale(1.2);
    background-color: rgb(240, 208, 166);
}

.shot--area > .play-stop-music {
    position: absolute;
    right: -35px;
    bottom: 5px;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-image: url(https://cdn5.vectorstock.com/i/1000x1000/25/19/volume-icon-and-mute-icon-a-set-of-musical-note-vector-42472519.jpg);
    background-position-x: 0px;
    background-position-y: -16px;
    background-size: 300%;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .5s;
}
.shot--area > .play-stop-music:hover {
    transform: scale(1.2);
}

.shot--area > .btn-reset-game {
    height: 30px;
    width: 30px;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/005/730/956/small/refresh-reload-isolated-flat-web-mobile-icon-sign-symbol-button-element-silhouette-vector.jpg);
    position: absolute;
    right: -35px;
    bottom: -35px;
    cursor: pointer;
    border-radius: 20px;
    background-position-x: -9px;
    background-position-y: -4px;
    background-repeat: no-repeat;
    background-size: 165%;
    transition: .5s;
}
.shot--area > .btn-reset-game:hover {
    transform: scale(1.2);
}

.shot--area > .touch-movement-left, .touch-movement-right {
    width: 80px;
    height: 100%;
    background-color: #65d92f17;
    position: absolute;
    z-index: 1;
}
.shot--area > .touch-movement-left {left: 5px;}
.shot--area > .touch-movement-right {right: 5px;}

.shop {
    background-color: rgb(0 0 0 / 92%);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop > .close-shop-btn {
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 20px;
    background-color: aliceblue;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.close-shop-btn:hover {
    transform: scale(1.3);
}

.shop > .points {
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-bottom:1px rgb(68, 68, 68) solid;
}

.shop > .shop-list {
    list-style: none;
    padding: 0 40px;
    width: 80%;
    margin-top: 30px;
}

.shop-list > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    border-bottom:1px rgb(68, 68, 68) solid;
}

.shop-list > li > .title {
    flex: 1;
}
.shop-list > li > .action-header {
    margin-left: 10px;
    width: 30px;
}
.shop-list > li > .action {
    margin-left: 10px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    padding: 2px;
    border-radius: 2px;
    color: black;
    cursor: pointer;
}
.shop-list > li > .action:hover {
    background-color: rgb(184, 184, 184);
}

.shop > .equipment {
    margin-top: 50px;
    width: 80%;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px rgb(68, 68, 68) solid;
    font-size: 14px;
    font-weight: bold;
}

.equipment > .extra-damage {
    text-align: end;
}

.terminal {
    width: var(--width);
    height: 100px;
    background-color: rgb(17, 17, 17);
    color: #7e7e7e;
    font-size: 9px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
}

.terminal > .title {
    height: 15px;
    font-size: 8px;
    font-weight: bold;
    border-bottom: 1px solid rgb(68 68 68);
    display: flex;
    align-items: end;
    padding: 2px 5px;
}

.terminal > ul {
    height: 80px;
    list-style: none;
    overflow: hidden;
    padding: 5px;
}

.terminal > ul .log-error {
    color: #a14b4b;
}

.bullet {
    width: 10px;
    height: 10px;
    background-color: chartreuse;
    border-radius: 20px;
}

@media (max-width: 720px) {
    .box {
        overflow: hidden;
    }
    .shot--area > .shop-btn {
        right: 8px;
        top: 10px;
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }